@import url("./reset.css");

main {
    /* height: 100vh; */
    background-color: #171A22;
    position: relative;
}

.container {
    height: 100vh;
    width: min(100% - 30px, 1080px);
    margin-inline: auto;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows:50px 500px 50px;
    gap: 20px;
    text-align: center;
    color: #fff;
}

.page-name {
    font-size: 50px;
}

.start {
    background-color: #009D5D;
    font-size: 20px;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    width: 160px;
}

.game-box {
    /* width: 900px; */
    /* height: 600px; */
    border-radius: 10px;
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 20px;
    text-align: center;
}

.show-word {
    font-size: 50px;
}

input {
    height: 50px;
    border-radius: 10px;
    font-size: 30px;
    width: 250px;
    padding: 10px;
    text-align: center;
    background-color: #272A31;
    color: #fff;
}

.score {
    font-size: 40px;
    color: #00ff80;
    font-weight: 600;
}

.time {
    font-size: 60px;
    color: #ff0000;
}

.user-info {
    font-size: 30px;
}

.rank-list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100vh;
    background-color: #3E2366;
    display: grid;
    grid-template-rows: 100px 20px 20px 20px 20px 20px 20px 20px 20px 20px;
    gap: 20px;
    color: #77D899;
    align-items: center;
    justify-items: center;
}

.rank {
    display: grid;
    grid-template-columns: 60px 60px 60px;
    gap: 10px;
    color: #77D899;
    align-items: center;
    justify-items: center;
}

.rank-head {
    padding-top: 20px;
    color: #fff;
}

@media screen and (max-width: 1199px){
    .rank-list {
        display: none;
    }
}